language: objective-c
osx_image: xcode8
script:
- set -o pipefail && xcodebuild -workspace Example/OnTap.xcworkspace -scheme OnTap-Example -sdk iphonesimulator   -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.0' test | xcpretty

